.landing-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; /* Ensure no overflow issues */
}

.landing-title {
  position: absolute;
  top: 40%; /* Adjusted for better alignment on smaller screens */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem; /* Responsive font size */
  color: #fff; /* White for better visibility */
  z-index: 2;
  font-family: VT323, sans-serif; /* Corrected font-family */
  text-align: center; /* Center text for better readability */
  width: 100%;
}

.landing-form {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center; /* Center form elements */
}

.landing-input,
.landing-button {
  padding: 10px;
  font-size: 1rem; /* Responsive font size */
  border-radius: 5px;
}

.landing-input {
  border-bottom: 3px solid #fff;
  width: 80%; /* Adjusted width for responsiveness */
  max-width: 300px; /* Maximum width to prevent too wide input fields */
  margin-bottom: 10px; /* Space between input and button */
  background-color: transparent;
  text-align: center;
  color: #fff;
  box-shadow: 8px;
}

::placeholder {
  color: #fff;
  font-family: Roboto, Verdana;
}
.landing-button {
  padding: 10px 20px;
  border: none;
  background-color: #a01717;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .landing-title {
    font-size: 1.75rem; /* Smaller font size for tablets */
  }

  .landing-form {
    top: 65%; /* Adjust position for better alignment on smaller screens */
  }

  .landing-input,
  .landing-button {
    font-size: 0.875rem; /* Smaller font size for tablets */
    padding: 8px; /* Adjust padding for smaller screens */
  }
}

@media (max-width: 480px) {
  .landing-title {
    font-size: 1.2rem; /* Smaller font size for mobile devices */
    padding: 20px;
  }

  .landing-form {
    top: 70%; /* Adjust position for better alignment on mobile screens */
    margin: 10px;
  }

  .landing-input,
  .landing-button {
    font-size: 0.75rem; /* Smaller font size for mobile devices */
    padding: 6px; /* Adjust padding for mobile devices */
  }
}
